.card {
    .card-body {

        .h6,
        .card-title {
            color: var(--text);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-height: 2.6rem;
        }

        strong {
            color: var(--text);
        }
    }
}

.card .text-muted,
.card small.text-muted {
    color: var(--muted) !important;
}